/.gradle/
build

*.apk
*.aab
*.dex
*.class

.gradle

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

*.iws
/out/

.idea/caches/
.idea/libraries/
.idea/shelf/

.settings/

